body {
    background: #232323;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
button {
    -webkit-app-region: no-drag;
}
.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}